@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(34, 31, 31, 0.8) 0%,
    rgba(34, 31, 31, 0.22) 100%
  );
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:where(.css-dev-only-do-not-override-30xew4).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background-color: transparent;
}
:where(.css-dev-only-do-not-override-30xew4).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid black;
}
.ant-picker-panel {
  &:last-child {
    width: 0;
    .ant-picker-header {
      position: absolute;
      right: 0;
      .ant-picker-header-prev-btn,
      .ant-picker-header-view {
        visibility: hidden;
      }
    }

    .ant-picker-body {
      display: none;
    }

    @media (min-width: 768px) {
      width: 280px !important;
      .ant-picker-header {
        position: relative;
        .ant-picker-header-prev-btn,
        .ant-picker-header-view {
          visibility: initial;
        }
      }

      .ant-picker-body {
        display: block;
      }
    }
  }
}
:where(.css-dev-only-do-not-override-30xew4).ant-picker {
  background-color: transparent;
  border: 1px solid black;
  width: 100%;
}
